// Minimal configuration
params {
    // Basic parameters
    species = "Homo sapiens"
    outdir = "results"
    
    // Container (use your existing one)
    container = "us-west1-docker.pkg.dev/shackett/napistu-images/napistu-base:latest"
}

// Process defaults
process {
    container = params.container
    memory = 8.GB
    cpus = 2
    time = 2.h
}

// Essential profiles
profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    
    test {
        includeConfig 'conf/test.config'
    }
}